
.article_image {
    display: inline-block;
    text-align: left;
    width: 220px;
    padding: 15px;
}

img {
    float: left;
    width: 200px;
    height: auto;
    border: 5px solid darkred;
    border-radius: 90px/60px;
    margin: 25px;
    box-shadow: 0px 6px 8px gray;
}